<!doctype html>
    {% load static %}
    <html lang="en">
        <head>
            {% include "includes/head.html" %}
            <title>Dashboard | Officely</title>
        </head>
        <body class="navigation-toggle-one">
            {% include "officelyapp/includes/header.html" %}
            <div id="main">
                {% include "officelyapp/includes/sidebar.html" %}
                <div class="main-content">
                    <!-- begin::page-header -->
                    <div class="page-header">
                        <div class="container-fluid d-sm-flex justify-content-between">
                            <h4>Admin</h4>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="#">Dashboard</a>
                                    </li>
                                    &nbsp;<small>/</small>&nbsp;
                                    <li class="breadcrumb-item active" aria-current="page">Admin</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end::page-header -->
                    <!-- begin::page content -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h2 class="font-weight-bold mb-2">3.605</h2>
                                                        <div>Click Through</div>
                                                    </div>
                                                    <div>
                                                        <span class="dashboard-pie-1">2/5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h2 class="font-weight-bold mb-2">3.137</h2>
                                                        <div>View Through</div>
                                                    </div>
                                                    <div>
                                                        <span class="dashboard-pie-2">4/5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h2 class="font-weight-bold mb-2">8.765</h2>
                                                        <div>Total Conversions</div>
                                                    </div>
                                                    <div>
                                                        <span class="dashboard-pie-3">1/5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h2 class="font-weight-bold mb-2">68%</h2>
                                                        <div>Page Retention Rate</div>
                                                    </div>
                                                    <div>
                                                        <span class="dashboard-pie-4">2/5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card bg-secondary-gradient">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-md-7">
                                                        <h6 class="card-title mb-3">Welcome back Anna!</h6>
                                                        <p>Get familiar with dashboard, here are some ways to get started.</p>
                                                        <ul class="mb-3">
                                                            <li>Check some stats for your website bellow</li>
                                                            <li>Sync content to other devices</li>
                                                        </ul>
                                                        <a href="#" class="btn bg-white">Learn More</a>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <img src="{% static 'assets/media/svg/undraw_onboarding_o8mv.svg' %}" alt="..." class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <h6 class="card-title">Device Sessions</h6>
                                                    <div>
                                                        <a href="#" class="mr-3">
                                                            <i class="fa fa-refresh"></i>
                                                        </a>
                                                        <div class="dropdown">
                                                            <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a href="#" class="dropdown-item">Report</a>
                                                                <a href="#" class="dropdown-item">Download</a>
                                                                <a href="#" class="dropdown-item">Close</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-4 col-sm-12">
                                                        <div class="d-flex">
                                                            <i class="fa fa-circle text-primary mr-2 mt-1 font-size-11"></i>
                                                            <div>
                                                                <h4>1.902</h4>
                                                                <div class="text-muted">Mobile</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4 col-sm-12">
                                                        <div class="d-flex">
                                                            <i class="fa fa-circle text-success mr-2 mt-1 font-size-11"></i>
                                                            <div>
                                                                <h4>1.202</h4>
                                                                <div class="text-muted">Desktop</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-4 col-sm-12">
                                                        <div class="d-flex">
                                                            <i class="fa fa-circle text-warning mr-2 mt-1 font-size-11"></i>
                                                            <div>
                                                                <h4>365</h4>
                                                                <div class="text-muted">Other</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="device_session_chart"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="position-relative mr-3 text-center">
                                                    <div id="circle-1" class="circle"></div>
                                                    <div class="position-absolute a-0 d-flex flex-column align-items-center justify-content-center">
                                                        <h4 class="mb-0">65%</h4>
                                                        <span class="font-size-11 text-uppercase text-muted">Reached</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="mb-1">Time to Resolved Complaint</p>
                                                    <p class="text-muted mb-1">
                                                        <small>The average time taken to resolve complaints.</small>
                                                    </p>
                                                    <h3 class="mb-0">
                                                        7m:32s
                                                        <small>/ Goal: 8m:0s</small>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="position-relative mr-3 text-center">
                                                    <div id="circle-2" class="circle"></div>
                                                    <div class="position-absolute a-0 d-flex flex-column align-items-center justify-content-center">
                                                        <h4 class="mb-0">35%</h4>
                                                        <span class="font-size-11 text-uppercase text-muted">Reached</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="mb-1">Average Speed of Answer</p>
                                                    <p class="text-muted mb-1">
                                                        <small>Measure how quickly support staff answer incoming calls.</small>
                                                    </p>
                                                    <h3 class="mb-0">
                                                        0m:20s
                                                        <small>/ Goal: 0m:10s</small>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <h6 class="card-title">Daily Task List</h6>
                                                    <div>
                                                        <a href="#" class="mr-3">
                                                            <i class="fa fa-refresh"></i>
                                                        </a>
                                                        <div class="dropdown">
                                                            <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                            </a>
                                                            <span class="dropdown-menu dropdown-menu-right">
                                                                <a href="#" class="dropdown-item">Report</a>
                                                                <a href="#" class="dropdown-item">Download</a>
                                                                <a href="#" class="dropdown-item">Close</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="custom-control custom-checkbox-success custom-checkbox todo-item">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label d-flex justify-content-between"
                                                        for="customCheck1">
                                                        Talk
                                                        to new customers
                                                        <span class="text-muted">13 May 2019</span>
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox-success custom-checkbox-success custom-checkbox todo-item">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                                                    <label class="custom-control-label d-flex justify-content-between"
                                                        for="customCheck2">
                                                        Older
                                                        users will be deleted from
                                                        the system
                                                        <span class="text-muted">20 Apr 2019</span>
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox-success custom-checkbox todo-item">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                    <label class="custom-control-label d-flex justify-content-between"
                                                        for="customCheck3">
                                                        Assignment
                                                        will be
                                                        completed
                                                        <span class="text-muted">13 May 2019</span>
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox-success custom-checkbox todo-item">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                                                    <label class="custom-control-label d-flex justify-content-between"
                                                        for="customCheck4">
                                                        Customer
                                                        notes
                                                        <span class="text-muted">10 Jan 2018</span>
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox-success custom-checkbox todo-item">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                    <label class="custom-control-label d-flex justify-content-between"
                                                        for="customCheck5">
                                                        Clear
                                                        old log records and backup
                                                        will be taken
                                                        <span class="text-muted">13 May 2019</span>
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox custom-checkbox-success todo-item">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                                                    <label class="custom-control-label d-flex justify-content-between"
                                                        for="customCheck6">
                                                        Talk
                                                        to new customers
                                                        <span class="text-muted">27 Feb 2019</span>
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-checkbox-success custom-checkbox todo-item">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck7" checked>
                                                    <label class="custom-control-label d-flex justify-content-between"
                                                        for="customCheck7">
                                                        Older
                                                        users will be deleted from
                                                        the system
                                                        <span class="text-muted">13 May 2019</span>
                                                    </label>
                                                </div>
                                                <form class="mt-4">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                            aria-label="Example text with button addon"
                                                            placeholder="New task" aria-describedby="button-addon1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-primary" type="button" id="button-addon1">
                                                                Add
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title d-flex justify-content-between">
                                                    <h6 class="card-title">Total Sales By Org Unit</h6>
                                                    <div>
                                                        <div class="dropdown">
                                                            <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                            </a>
                                                            <span class="dropdown-menu dropdown-menu-right">
                                                                <a href="#" class="dropdown-item">Report</a>
                                                                <a href="#" class="dropdown-item">Download</a>
                                                                <a href="#" class="dropdown-item">Close</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2 class="mb-3 font-weight-bold">$469,453</h2>
                                                <div class="progress mb-3" style="height: 10px">
                                                    <div class="progress-bar w-25 bg-secondary-gradient" role="progressbar"></div>
                                                    <div class="progress-bar w-50 bg-info-gradient" role="progressbar"></div>
                                                    <div class="progress-bar w-25 bg-warning-gradient" role="progressbar"></div>
                                                    <div class="progress-bar w-25 bg-success-gradient" role="progressbar"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="mb-0">
                                                            <span class="fa fa-circle text-danger mr-1"></span>
                                                            Hair Tran.
                                                        </p>
                                                        <h5 class="mt-2 mb-0">25%</h5>
                                                    </div>
                                                    <div class="col">
                                                        <p class="mb-0">
                                                            <span class="fa fa-circle text-info mr-1"></span>
                                                            Aesthetic
                                                        </p>
                                                        <h5 class="mt-2 mb-0">50%</h5>
                                                    </div>
                                                    <div class="col">
                                                        <p class="mb-0">
                                                            <span class="fa fa-circle text-warning mr-1"></span>
                                                            Dental
                                                        </p>
                                                        <h5 class="mt-2 mb-0">15%</h5>
                                                    </div>
                                                    <div class="col">
                                                        <p class="mb-0">
                                                            <span class="fa fa-circle text-success mr-1"></span>
                                                            Other
                                                        </p>
                                                        <h5 class="mt-2 mb-0">20%</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <h6 class="card-title">Upcoming Meeting</h6>
                                                    <a href="#">View All</a>
                                                </div>
                                                <div class="d-flex mb-3">
                                                    <div class="text-center">
                                                        <div class="avatar">
                                                            <span class="avatar-title bg-info-bright text-info rounded-circle font-size-22">17</span>
                                                        </div>
                                                    </div>
                                                    <div class="m-l-20">
                                                        <h5 class="mb-2">
                                                            <a class="text-dark">UI Discussion</a>
                                                        </h5>
                                                        <p class="mb-0">Execute core that as result.</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex mb-3">
                                                    <div class="text-center">
                                                        <div class="avatar">
                                                            <span class="avatar-title bg-danger-bright text-danger rounded-circle font-size-22">21</span>
                                                        </div>
                                                    </div>
                                                    <div class="m-l-20">
                                                        <h5 class="mb-2">
                                                            <a class="text-dark">Project Schdule</a>
                                                        </h5>
                                                        <p class="mb-0">Special cloth alert always.</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex mb-3">
                                                    <div class="text-center">
                                                        <div class="avatar">
                                                            <span class="avatar-title bg-warning-bright text-warning rounded-circle font-size-22">25</span>
                                                        </div>
                                                    </div>
                                                    <div class="m-l-20">
                                                        <h5 class="mb-2">
                                                            <a class="text-dark">Design Discussion</a>
                                                        </h5>
                                                        <p class="mb-0">Let us wax poetic about.</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="text-center">
                                                        <div class="avatar">
                                                            <span class="avatar-title bg-success-bright text-success rounded-circle font-size-22">10</span>
                                                        </div>
                                                    </div>
                                                    <div class="m-l-20">
                                                        <h5 class="mb-2">
                                                            <a class="text-dark">UI Discussion</a>
                                                        </h5>
                                                        <p class="mb-0">Let us wax poetic about.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h6 class="card-title">Website Audience Metrics</h6>
                                                <div class="mb-5">
                                                    <p class="d-flex justify-content-between">
                                                        <span class="">New Users</span>
                                                        <span class="text-muted">65% goal reached</span>
                                                    </p>
                                                    <h4 class="font-weight-bold">13,596</h4>
                                                    <div class="progress" style="height: 5px">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 42%;"
                                                            aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-5">
                                                    <p class="d-flex justify-content-between">
                                                        <span>Page Views</span>
                                                        <span class="text-muted">45% goal reached</span>
                                                    </p>
                                                    <h4 class="font-weight-bold">43,596</h4>
                                                    <div class="progress" style="height: 5px">
                                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 42%;"
                                                            aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-5">
                                                    <p class="d-flex justify-content-between">
                                                        <span>Page Sessions</span>
                                                        <span class="text-muted">20% goal reached</span>
                                                    </p>
                                                    <h4 class="font-weight-bold">16,869</h4>
                                                    <div class="progress" style="height: 5px">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 42%;"
                                                            aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="d-flex justify-content-between">
                                                        <span>Bounce Rate</span>
                                                        <span class="text-muted">85% goal reached</span>
                                                    </p>
                                                    <h4 class="font-weight-bold">28.50%</h4>
                                                    <div class="progress" style="height: 5px">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 42%;"
                                                            aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-title d-md-flex align-items-start justify-content-between">
                                                    <h6 class="card-title">Your Most Recent Earnings</h6>
                                                    <div class="reportrange btn btn-outline-light btn-sm mt-3 mt-md-0">
                                                        <i class="ti-calendar mr-2"></i>
                                                        <span class="text"></span>
                                                        <i class="ti-angle-down ml-2"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped mb-0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Date</th>
                                                                        <th class="text-center">Sales Count</th>
                                                                        <th class="text-center">Gross Earnings</th>
                                                                        <th class="text-center">Tax Withheld</th>
                                                                        <th class="text-center">Net Earnings</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>03/15/2018</td>
                                                                        <td class="text-center">1,050</td>
                                                                        <td class="text-success text-center">+ $32,580.00</td>
                                                                        <td class="text-danger text-center">- $3,023.10</td>
                                                                        <td class="text-right text-center">$28,670.90</td>
                                                                        <td class="text-right">
                                                                            <a href="#" data-toggle="tooltip" title="Detail">
                                                                                <i class="fa fa-external-link"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>03/14/2018</td>
                                                                        <td class="text-center">780</td>
                                                                        <td class="text-success text-center">+ $30,065.10</td>
                                                                        <td class="text-danger text-center">- $2,780.00</td>
                                                                        <td class="text-right text-center">$26,930.40</td>
                                                                        <td class="text-right">
                                                                            <a href="#" data-toggle="tooltip" title="Detail">
                                                                                <i class="fa fa-external-link"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>03/13/2018</td>
                                                                        <td class="text-center">1.980</td>
                                                                        <td class="text-success text-center">+ $30,065.10</td>
                                                                        <td class="text-danger text-center">- $2,780.00</td>
                                                                        <td class="text-right text-center">$26,930.40</td>
                                                                        <td class="text-right">
                                                                            <a href="#" data-toggle="tooltip" title="Detail">
                                                                                <i class="fa fa-external-link"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>03/12/2018</td>
                                                                        <td class="text-center">300</td>
                                                                        <td class="text-success text-center">+ $30,065.10</td>
                                                                        <td class="text-danger text-center">- $2,780.00</td>
                                                                        <td class="text-right text-center">$26,930.40</td>
                                                                        <td class="text-right">
                                                                            <a href="#" data-toggle="tooltip" title="Detail">
                                                                                <i class="fa fa-external-link"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>03/11/2018</td>
                                                                        <td class="text-center">940</td>
                                                                        <td class="text-success text-center">+ $30,065.10</td>
                                                                        <td class="text-danger text-center">- $2,780.00</td>
                                                                        <td class="text-right text-center">$26,930.40</td>
                                                                        <td class="text-right">
                                                                            <a href="#" data-toggle="tooltip" title="Detail">
                                                                                <i class="fa fa-external-link"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row mt-3">
                                                    <div class="col-md-3">
                                                        <div class="card mb-0">
                                                            <div class="card-body p-3">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="icon-block icon-block-floating mr-3 icon-block-lg icon-block-outline-success text-success">
                                                                        <i class="fa fa-bar-chart"></i>
                                                                    </div>
                                                                    <div>
                                                                        <h6 class="text-uppercase font-size-11">Gross Earnings</h6>
                                                                        <h4 class="mb-0 font-weight-bold">$1.958,104</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card mb-0">
                                                            <div class="card-body p-3">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="icon-block icon-block-floating mr-3 icon-block-lg icon-block-outline-danger  text-danger">
                                                                        <i class="fa fa-hand-lizard-o"></i>
                                                                    </div>
                                                                    <div>
                                                                        <h6 class="text-uppercase font-size-11">Tax Withheld</h6>
                                                                        <h4 class="mb-0 font-weight-bold">$234,769</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card mb-0">
                                                            <div class="card-body p-3">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="icon-block icon-block-floating mr-3 icon-block-lg icon-block-outline-warning text-warning">
                                                                        <i class="fa fa-dollar"></i>
                                                                    </div>
                                                                    <div>
                                                                        <h6 class="text-uppercase font-size-11">Net Earnings</h6>
                                                                        <h4 class="mb-0 font-weight-bold">$1.608,469</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end::page content -->
                    {% include "officelyapp/includes/footer.html" %}
                </div>
            </div>
            {% include "includes/foot.html" %}
        </body>
    </html>