{% load static %}
<!-- Plugin scripts -->
<script src="{% static 'vendors/bundle.js' %}"></script>

<!-- App scripts -->
<script src="{% static 'assets/js/app.min.js' %}"></script>

<!-- Chartjs -->
<script src="{% static 'vendors/charts/chartjs/chart.min.js' %}"></script>

<!-- Apex chart -->
<!-- <script src="{% static 'vendors/charts/apex/apexcharts.min.js' %}"></script> -->

<!-- Circle progress -->
<script src="{% static 'vendors/circle-progress/circle-progress.min.js' %}"></script>

<!-- Peity -->
<script src="{% static 'vendors/charts/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'assets/js/examples/charts/peity.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'vendors/datepicker/daterangepicker.js' %}"></script>

<!-- Vamp -->
<script src="{% static 'vendors/vmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/vmap/maps/jquery.vmap.usa.js' %}"></script>
<script src="{% static 'assets/js/examples/vmap.js' %}"></script>

<!-- Dashboard scripts -->
<script src="{% static 'assets/js/examples/dashboard.js' %}"></script>
<div class="colors"> <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>


<!-- Tagsinput -->
<script src="{% static 'vendors/tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'assets/js/examples/tagsinput.js' %}"></script>

<!-- quill -->
<script src="{% static 'vendors/quill/quill.js' %}"></script>

<script src="{% static 'vendors/charts/morsis/raphael-2.1.4.min.js' %}"></script>
<script src="{% static 'vendors/charts/morsis/morris.min.js' %}"></script>
<script src="{% static 'assets/js/examples/charts/morsis.js' %}"></script>

<!-- Prism -->
<script src="{% static 'vendors/prism/prism.js' %}"></script>
<script src="{% static 'vendors/form-wizard/jquery.steps.min.js' %}"></script>
<script src="{% static 'assets/js/examples/form-wizard.js' %}"></script>

<script src="{% static 'vendors/fullcalendar/moment.min.js' %}"></script>
<script src="{% static 'vendors/fullcalendar/fullcalendar.min.js' %}"></script>

<script src="{% static 'assets/js/examples/fullcalendar.js' %}"></script>

<!-- Clockpicker -->
<script src="{% static 'vendors/clockpicker/bootstrap-clockpicker.min.js' %}"></script>
<script src="{% static 'assets/js/examples/clockpicker.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'vendors/select2/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/examples/select2.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'assets/js/examples/datepicker.js' %}"></script>