{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'assets/media/image/favicon.png' %}"/>

<!-- Plugin styles -->
<link rel="stylesheet" href="{% static 'vendors/bundle.css' %}" type="text/css">

<!-- App styles -->
<link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}" type="text/css">

<!-- Datepicker -->
<link rel="stylesheet" href="{% static 'vendors/datepicker/daterangepicker.css' %}">

<!-- Vmap -->
<link rel="stylesheet" href="{% static 'vendors/vmap/jqvmap.min.css' %}">

<!-- quill -->
<link href="{% static 'vendors/quill/quill.snow.css' %}" rel="stylesheet" type="text/css">

<!-- Tagsinput -->
<link rel="stylesheet" href="{% static 'vendors/tagsinput/bootstrap-tagsinput.css' %}" type="text/css">

<!-- Style -->
<link rel="stylesheet" href="{% static 'vendors/charts/morsis/morris.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'vendors/prism/prism.css' %}" type="text/css">

<!-- Css -->
<link rel="stylesheet" href="{% static 'vendors/dataTable/dataTables.min.css' %}" type="text/css">

<!-- Javascript -->
<script src="{% static 'vendors/dataTable/jquery.dataTables.min.js' %}"></script>

<!-- Bootstrap 4 and responsive compatibility -->
<script src="{% static 'vendors/dataTable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/dataTable/dataTables.responsive.min.js' %}"></script>

<!-- Css -->
<link rel="stylesheet" href="{% static 'vendors/dropzone/dropzone.css' %}" type="text/css">

<!-- Javascript -->
<script src="{% static 'vendors/dropzone/dropzone.js' %}"></script>

<!-- Css -->
<link rel="stylesheet" href="{% static 'vendors/datepicker/daterangepicker.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'vendors/form-wizard/jquery.steps.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'vendors/prism/prism.css' %}" type="text/css">
<!-- Javascript -->
<script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
<script src="{% static 'vendors/datepicker/daterangepicker.js' %}"></script>

<!-- <script src="{% static 'vendors/charts/apex/apexcharts.min.js' %}"></script> -->
<script src="{% static 'assets/js/examples/charts/apex.js' %}"></script>

<script src="{% static 'vendors/form-wizard/jquery.steps.min.js' %}"></script>
<script src="{% static 'assets/js/examples/form-wizard.js' %}"></script>

<script src="{% static 'vendors/prism/prism.js' %}"></script>

<link rel="stylesheet" href="{% static 'vendors/fullcalendar/fullcalendar.min.css' %}" type="text/css">
