<!doctype html>
    {% load static %}
    <html lang="en">
        <head>
            {% include "includes/head.html" %}
            <title>Register | Officely</title>
        </head>

        <body class="form-membership">

            <!-- begin::preloader-->
            <div class="preloader">
                <div class="preloader-icon"></div>
            </div>
            <!-- end::preloader -->

            <div class="form-wrapper">

                <!-- logo -->
                <div id="logo">
                    <img class="logo" src="{% static 'assets/media/image/logo.png' %}" alt="image" style="max-width: 100px;">
                    <img class="logo-dark" src="{% static 'assets/media/image/logo-dark.png' %}" alt="image">
                </div>
                <!-- ./ logo -->

                <h5>Create account</h5>

                <!-- form -->
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="c_password" placeholder="Confirm Password" required>
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary btn-block">
                    <hr>
                    <div class="form-group d-flex justify-content-between">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Legal Notice</a>
                    </div>
                    <hr>
                    <p class="text-muted">Already have an account?</p>
                    <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">Sign In!</a>
                </form>
                <!-- ./ form -->

            </div>
            {% include "includes/foot.html" %}
        </body>
    </html>
